# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb://localhost:27017/chrono?replicaSet=rs0&"
MNEMONIC="prize major tuition issue cousin tortoise tag castle forget author invest habit beyond angry nice"
TOKEN_X_ADDRESS="0xdefF1F8c253a18e6b0FD7dAfF9A79938290d4226"
TOKEN_USDT_ADDRESS="0x8bF05a1Ea144278F5e9C4b66a3D1d63bFA421291"
XNFT_ADDRESS="0x7c45F8E6bf75E023b9DDDcB2Bd4bB2aaCa6001cE"
XPOAP_ADDRESS="0x7c45F8E6bf75E023b9DDDcB2Bd4bB2aaCa6001cE"
ETHERS_PROVIDER_URL="http://localhost:8545"
JWT_SECRET_KEY="secret"
PROVIDER_URL="https://rpc.sepolia.org"
CHAIN_ID="11155111"